.App {
  text-align: center;
  background-color: bisque;
  padding: 2em;
}
.title {
  padding-bottom: 1em ;
}
h1 {
  color: #4DCEC4;
}
.label {
  color: red;
}
.paragraph {
  color: yellow
}
p {
  color: #226A74;
}